body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#banner {
  height: 300px;
  width: 400px;
}
#board {
  width: 90vw;      
  max-width: 360px;     
  aspect-ratio: 1 / 1;      
  margin: 0 auto;
  border: 10px solid rgba(162, 17, 175, 0.959);
  background-color: rgb(234, 93, 247);
  display: flex;
  flex-wrap: wrap;
}

#board img {
  width: calc(100% / 3);  
  height: calc(100% / 3);   
  border: 1px solid rgba(162, 17, 175, 0.959);
  object-fit: cover;       
#ref {
  height: 300px;
  width: 300px;
  border: 2px solid rgba(162, 17, 175, 0.959);
  position: absolute;
  right: 20px;
  top: 20px;
}
